<%= error_messages_for 'notes' %>

<!--[form:notes]-->
<p><label for="note_not">Note</label><br/>
<%= text_area 'notes', 'note'  %></p>

<p><label for="note_event_id">Event Id</label><br/>
<%= text_field 'notes', 'event_id'  %></p>
<!--[eoform:notes]-->