log/*.log
.DS_Store
doc/api
doc/app
tmp/**/*
db/piecemaker_test
db/piecemaker_dev
db/piecemaker_prod
db/databases/*
config/database.yml
public/ymls/*
public/video/backup/*
public/video/compressed/*
public/video/full/*
public/video/temp/*
public/uploads/**/*
index
*.swp
*.dat
.bundle
vendor/ruby
