<h2>Messages</h2>
<%= raw universal_table(
  @messages,
  {
    :columns => [ {'ID' => 'id'},
                  {'To' => 'user_id'},
                  {'Message' => 'message'}],
    :actions => [ {'Destroy' => '/message/destroy'}
      ]
  }
  ) %>