<h1>Listing Sub Scenes
<%- if @piece -%>
in "<%= @piece.title %>"
<%- end -%>
</h1>
<h2><%= @sub_scenes.length %> Sub Scenes</h2>
<%= will_paginate @sub_scenes %><br />
<%= universal_table(
  @sub_scenes,{
  :columns => [{'ID' => 'id',:sort => 'id'},
                {'Piece' => 'event.piece.title'},
                {'Title' => 'title',:sort => 'title'},
                {'Description' => 'description'}
    ],
  :actions => [  {'Show' => '/sub_scene/show'},
                  {'Edit' => '/sub_scene/edit'},
                  {'Destroy' => 'sub_scene/destroy$'}
    ],
  :admin => {'Edit' => 'group_admin','Destroy'=>'normal_actions'},
  :truncate => 15
  })
  %>
