<div id = 'tme' data-time="<%= video.times %>"></div>
<%- video.events.select{|x| x.is_active?}.each do |event| -%>
<%= render :partial => '/video/listing_span',:locals => {:event => event,:video => video} %>
<% end -%>
