<div id = 'video_info_div'>
  <p>
        Contains:
        <br />
        <%= video.piece.title -%>

  </p>
  <%- if user_has_right? 'group_admin' -%>
  <p><%= link_to "Edit Video Information",{:controller => 'video',:action => 'edit_from_viewer',:id => video.id},:class => 'get pause' %></p>
  <p><%= link_to "Scratchpad",{:controller => 'capture',:action => 'open_scratchpad'},:class => 'get pause' %></p>
  <%- end -%>
  <div style = 'line-height:20px;font-size:14px;font-weight:bold'>
      Click on a name to turn on/off events.<br />
  <%- @video.events.map{|x| x.created_by}.uniq.each do |name| -%>
  <span class = 'name-toggle greenish'><%= name %></span><br />
  <% end %>
  <br />
  <span class = 'turn_off reddish'>Hide All</span> | <span class = 'turn_on greenish'>Show All</span>
  </div>
 <div class = 'video-announcement'></div>
</div>