<h2>Cued Jobs</h2>

<%= universal_table(
  @djs,
  {
    :columns => [ {'ID' => 'id',:sort => 'id'},
                  {'Handler' => 'handler'},
                  {'Attempts' => 'attempts'},
                  {'Error' => 'last_error'},
                  {'Locked At' => 'locked_at'},
                  {'Run At' => 'run_at'}
                ],
    :actions => [ 
                  {'Destroy' => 'destroy_delayed_job'}
                ],
    :admin => {'Destroy'=>'group_admin'}
  }
  ) %>