<table id = 'video-table' class = 'pretty'>
    <thead>
        <tr>
            <th>Title</th>
            <th>ID</th>
            <th>S3</th>
            <th>Piece</th>
            <th>Duration</th>
            <%- if true -%>
            <th>Annotate</th>
            <th>Edit</th>
            <th>Destroy</th>
            <% end -%>
        </tr>
    </thead>
    <tbody>
        <%- @videos.each do |video| -%>
        <tr id = 'rowId<%= video.id %>'>
        <%= render :partial =>'video_table_row',:locals =>{:video => video} %>
        </tr>
        <%- end -%>
    </tbody>

</table>
