<%= universal_table(
@configuration.locations,
{
  :columns => [ {'ID' => 'id',:sort => 'id'},
                {'Location' => 'location',:sort => 'title'}
              ],
  :actions => [ 
                {'Destroy' => '/configuration/delete_location'}
              ],
  :admin => {'Destroy'=>'group_admin','Data' => 'group_admin'}
}
) %>
<% form_tag :action => 'add_location', :id => @configuration do %>
  <p><label for="location">Add a Location</label><br/>
  <%= text_field_tag 'location'%></p>
  <%= submit_tag 'Add' %>
<% end %>
<br />
<%= link_to "Back", :action => 'show' %>
  