<h2>SetupConfiguration</h2

<p>
  <b>Time Zone: </b> <%= h @configuration.time_zone %>
</p>
<p>
  <b>Use Auto Video:</b> <%= h @configuration.use_auto_video.to_s %>
</p>
<p>
  <b>S3 Sub Folder:</b> <%= h @configuration.s3_sub_folder.to_s %>
</p>
<br />
<br />
<%= link_to 'Edit', :action => 'edit', :id => @configuration %>

