#documentation
  %h1 Welcome to PIECEMAKER!
  %h3 What is PIECEMAKER?
  %p
    Piecemaker is a multi-user application which assists in notating and scoring dance and theatrical pieces. In its capture mode it helps you keep track of what happened in rehearsals. This includes rehearsal notes, and the notation of rehearsal videos. 
  %h3 Features
  %ul 
    %li Tracks, Light Cues, Sound Cues, Events, Videos and more...
    %li Network Allows Simultaneous User Input
    %li Uploads and Stores Documents Related to the Piece
    %li Annotate Videos
  %h3 Who uses it?
  %p
    Piecemaker was commisioned by William Forsythe for use in The Forsythe Company.
  %p
    It can be used for creating any type of multi-event performance.

  %h3 Questions, Comments, Inquiries
  %p 
    Please leave us a message at the contact page.