%h1
  Listing Pieces

= raw universal_table(@piecess,
  {:columns =>[ {'ID' => 'id',:sort => 'id'},
  {'Title' => 'title',:sort => 'title'},
  {'Abbrev.' => 'short_name',:sort => 'short_name'},
  {'Created' => 'created_at'},
  {'Active' => 'is_active',:sort => 'is_active'}],
  :actions => [ {'Show Details' => 'show'},
  {'Capture' => "/capture/present"},
  {'Videos' => "/video/index"},
  {'Destroy' => 'destroy'}],
  :admin => {'Destroy'=>'group_admin'}})
%br/
%div{:style => 'width:120px'}
  = link_to('Create New Piece', :action => 'new') if user_has_right?('normal_actions')