<div id="banner">
  <div id='logo'>
    PIECEMAKE<span style= 'color:#f99'>R</span>
  </div>
  <div id = 'login_div'>
    <%= render(:partial => '_shared/login_info') -%>
  </div>

</div>
<div id='menu_strip' class='menu'>
  <%= render(:partial => '_shared/app_menu') %>
</div>
