<%= error_messages_for 'document' %>

<!--[form:document]-->
<p><label for="document_filename">File Name</label><br/>
<%= text_field 'document', 'doc_file_name'  %></p>
<p><label for="document_filename">File Size</label><br/>
<%= text_field 'document', 'doc_file_size'  %></p>
<!--[eoform:document]-->

