    <li><a class='jsc pause get-form'href='/viewer/edit_annotation/{{id}}'>Edit</a></li>
    <li>
      <a class="jsc" href="/viewer/rate/0/{{id}}">Rate 0</a>
      <a class="jsc" href="/viewer/rate/1/{{id}}">1</a>
      <a class="jsc" href="/viewer/rate/2/{{id}}">2</a>
      <a class="jsc" href="/viewer/rate/3/{{id}}">3</a>
      <a class="jsc" href="/viewer/rate/4/{{id}}">4</a>
      <a class="jsc" href="/viewer/rate/5/{{id}}">5</a>
    </li>