<div id = 'vevdm' class = 'menu-box eviewer' style='display:none'>
  <div id = 'menid'></div>
  <div class = 'menclose'></div>
    <br />

    <ul class = "event-dropdown">"
    <li><a class = 'pause get-form' href='/viewer/edit_annotation/'>Edit</a></li>
    <li>
      <a href="/viewer/rate/0/">Rate 0</a>
      <a href="/viewer/rate/1/">1</a>
      <a href="/viewer/rate/2/">2</a>
      <a href="/viewer/rate/3/">3</a>
      <a href="/viewer/rate/4/">4</a>
      <a href="/viewer/rate/5/">5</a>
    </li>
    </ul>

</div>