<div id = 'vsevdm' class = 'menu-box esviewer' style='display:none'>
  <div id = 'menid'></div>
  <div class = 'menclose'></div>
  <div id='menin'>
    <br />
    <%= put_viewer_sub_menu %>
  </div>
</div>