%h1
  Performers
= link_to "Create a New Performer", {:action => 'new'}, :class => 'get'
%br/
%br/
= universal_table(                                                  |
@performers,                                                           |
{                                                                   |
  :columns => [ {'ID' => 'id',:sort => 'id'},                       |
                {'Name' => 'first_name',:sort => 'first_name'},              |
                {'Last Name' => 'last_name',:sort => 'last_name'},                |
                {'Short Name' => 'short_name',:sort => 'short_name'},             |
                {'User Name' => 'user.login'}, |
                {'Current' => 'is_current'}                       |
              ],                                                    |
  :actions => [ {'Edit' => '/performers/edit'},                                  |
                {'Show' => '/performers/show'},                                 |
                {'Destroy' => '/performers/destroy'}                            |
              ],                                                    |
  :admin => {'Destroy'=>'group_admin'}                            |
}                                                                   |
)   |
