<h1>Photos</h1>

<table id = 'photo-table' class = 'pretty'>
    <thead>
        <tr>
            <th>Title</th>
            <th>ID</th>
            <th>Piece</th>
            <th>Created At</th>
            <%- if true -%>
            <th>Destroy</th>
            <% end -%>
        </tr>
    </thead>
    <tbody>
        <%- @photos.each do |photo| -%>
        <tr id = 'rowId<%= photo.id %>'>
        <%= render :partial =>'photo_table_row',:locals =>{:photo => photo} %>
        </tr>
        <%- end -%>
    </tbody>

</table>
