<%= error_messages_for @meta_info %>

<!--[form:meta_info]-->

<p><label for="meta_info_title">Title</label><br/>
<%= text_field 'meta_info', 'title'  %></p>

<p><label for="meta_info_description">Description</label><br/>
<%= text_area 'meta_info', 'description'  %></p>
<!--[eoform:meta_info]-->

