<% for column in MetaInfo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @meta_info.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @meta_info %> |
<%= link_to 'Back', :action => 'list_by_piece',:id => session[:pieceid] %>
