<h2><%= @events.length %> edits synced</h2>
<%- @events.each do |event| -%>
<%= event.title %><br />
<%- end -%>
<h2><%= @destroyed.length %> events deleted</h2>
<%- @destroyed.each do |dest| -%>
<%= dest -%><br />
<% - end -%>