	<h2>New Note</h2>
	<%- form_tag({:action => 'new_note',:id => params[:id]},:class => 'ajax' ) do %>
  <%= error_messages_for 'note' %>

  <!--[form:notes]-->
  <p><label for="note_note">Note</label><br/>
  <%= text_area 'note', 'note', :size => "40x10"  %></p>

  <!--[eoform:notes]-->
	<%= submit_tag "Create" %><%= link_to("Cancel",{:action => 'present', :id => session[:pieceid] },:class => 'cancel') -%>
	<%- end -%>
	<br />