<div class = 'small a-marker'id = 'marker-<%= marker.id %>'>
<%= marker.happened_at.strftime("%d %b %y - %H:%M:%S") %> &nbsp;&nbsp;&nbsp;&nbsp;<a href = "/capture/delete_marker_from_list/<%= marker.id %>">Delete</a>
</div>