<div id='sevdm' class='menu-box sum' style='display:none'>
  <div class = 'show-id'></div>
  <div class='menclose'></div>
    <br />
    <ul class="dropdown">
      <li>
        <a href="/capture/edit_sub_scene/" class='get-form'>Edit</a>
      </li>
      <li>
        <a href="/capture/delete_sub_scene/" data-confirmation='Are you sure you want to delete this Sub Scene?'>Delete</a>
      </li>
      <li>
        <a href="/capture/promote_to_scene/">Promote</a>
      </li>
    </ul>
</div>