<div id = 'vidm' class = 'menu-box vim' style='display:none'>
  <div class = 'show-id'></div>
  <div class = 'menclose'></div>
  <br />
  <ul id = "video-dropdown" class = 'dropdown'>
    <li>
      <a href="/capture/rate_video/0/">Rate 0</a>
      <a href="/capture/rate_video/1/">1</a>
      <a href="/capture/rate_video/2/">2</a>
      <a href="/capture/rate_video/3/">3</a>
      <a href="/capture/rate_video/4/">4</a>
      <a href="/capture/rate_video/5/">5</a>
    </li>
    <li>
      <a class="get-form" href="/capture/add_event_to_video/">Add Event</a>
    </li>
  </ul>
</div>