    <li>
      <a href="/capture/rate_video/0/{{id}}"class="jsc">Rate 0</a>
      <a href="/capture/rate_video/1/{{id}}"class="jsc">1</a>
      <a href="/capture/rate_video/2/{{id}}"class="jsc">2</a>
      <a href="/capture/rate_video/3/{{id}}"class="jsc">3</a>
      <a href="/capture/rate_video/4/{{id}}"class="jsc">4</a>
      <a href="/capture/rate_video/5/{{id}}"class="jsc">5</a>
    </li>
    <li>
      <a class="jsc get-form" href="/capture/add_event_to_video/{{id}}">Add Event</a>
    </li>
