<h2>Create Markers in <%= @piece.title %></h2>
<span class = 'notice'><%= flash[:notice] %></span><br /><br /><br /><br />
<%= link_to('Add New Marker',{:action => 'quick_marker',:id => @piece.id}, :class => 'marker mprep', :id => 'marker',:method =>'post')-%>
<br />
<br />
<br />
<br />
<br />
<%= link_to 'Finished', '/' %>
